:root {
    --font-family-main: 'Open Sans', sans-serif;
    --font-size: 20px;
    --font-size-s: 16px;
    --font-size-xs: 12px;
    --font-color: #000;
    --font-color-inverted: #fff;
    --background-color: #fff;
    --background-color-card: #ffd9ad;
    --background-color-widgets: #27163b;
    --background-color-modal: #00000033;
}
